<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>

        <property name="connection.url">jdbc:mysql://localhost:3306/diplom</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">testskill</property>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">validate</property>

        <mapping class="diploma.model.User" />

        <mapping class="diploma.model.Post" />
        <mapping class="diploma.model.PostComment" />
        <mapping class="diploma.model.PostVote" />

        <mapping class="diploma.model.Tag" />
        <mapping class="diploma.model.TagToPost" />

        <mapping class="diploma.model.CaptchaCode" />
        <mapping class="diploma.model.GlobalSetting" />

    </session-factory>
</hibernate-configuration>